$primary: #de4f4f;
$secondary: #999;
$facebook: #3b5998;
$twitter: #0084b4;
$google: #dc4a38;
$linkedin: #1f88be;
$instagram: #49769c;
$youtube: #cc181e;
$meteor-developer: #de4f4f;
$meetup: #E0393E;
$github: #60b044;
$weibo: #FFA00A;

.accounts-ui {
  padding: 16px;
  border: solid 3px $primary;
  background: white;
  margin: 16px;
  max-width: 500px;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  .field-group {
    label {
      display: block;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0 0 8px;
    }
    padding-bottom: 16px;
    &:last-child {
      padding-bottom: 0;
    }
  }
  .field {
    input {
      width: 100%;
      font-size: 16px;
      height: 46px;
      box-sizing: border-box;
      line-height: 46px;
      padding: 8px 16px;
      background: white;
      border: solid 1px #ccc;
    }
  }
  a {
    display: inline-block;
    font-weight: bold;
    padding: 0 16px;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    cursor: pointer;
    color: #999;
    text-decoration: none;
    font-weight: normal;
  }
  .fields,
  .forgot-password {
    display: block;
    margin-bottom: 16px;
    width: 100%;
    box-sizing: border-box;
  }
  button {
    background: $secondary;
    outline: none;
    color: #FFF;
    margin-right: 8px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    padding: 16px 24px;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    &[type="submit"] {
      background: $primary;
    }
    &[disabled] {
      opacity: 0.5;
    }
    &:focus,
    &:hover {
      background-color: lighten($primary, 5%);
    }
    &:active {
      background-color: darken($primary, 5%);
    }
  }
  .message {
    padding: 16px;
    background: #eee;
    margin-top: 16px;
  }
  .or-sep {
    text-align: center;
    color: #aaa;
    padding: 16px;
    margin-bottom: 8px;
    div {
      position: relative;
      display: inline;
      &:before, &:after {
        position: absolute;
        height: 1px;
        content: "";
        width: 30px;
        top: 50%;
        background: #aaa;
      }
      &:before {
        left: -40px;
      }
      &:after {
        right: -40px;
      }
    }
  }
  .social-buttons {
    margin: -8px;
    a {
      display: block;
      width: 100%;
      text-align: center;
      box-sizing: border-box;
      color: white;
      &[disabled] {
        opacity: 0.5;
      }
      &.facebook {
        background-color: $facebook;
        &:focus,
        &:hover {
          background-color: lighten($facebook, 5%);
        }
        &:active {
          background-color: darken($facebook, 5%);
        }
      }
      &.twitter {
        background-color: $twitter;
        &:focus,
        &:hover {
          background-color: lighten($twitter, 5%);
        }
        &:active {
          background-color: darken($twitter, 5%);
        }
      }
      &.google {
        background-color: $google;
        &:focus,
        &:hover {
          background-color: lighten($google, 5%);
        }
        &:active {
          background-color: darken($google, 5%);
        }
      }
      &.linkedin {
        background-color: $linkedin;
        &:focus,
        &:hover {
          background-color: lighten($linkedin, 5%);
        }
        &:active {
          background-color: darken($linkedin, 5%);
        }
      }
      &.instagram {
        background-color: $instagram;
        &:focus,
        &:hover {
          background-color: lighten($instagram, 5%);
        }
        &:active {
          background-color: darken($instagram, 5%);
        }
      }
      &.youtube {
        background-color: $youtube;
        &:focus,
        &:hover {
          background-color: lighten($youtube, 5%);
        }
        &:active {
          background-color: darken($youtube, 5%);
        }
      }
      &.meteor-developer {
        background-color: $meetup;
        &:focus,
        &:hover {
          background-color: lighten($meetup, 5%);
        }
        &:active {
          background-color: darken($meetup, 5%);
        }
      }
      &.meetup {
        background-color: $meetup;
        &:focus,
        &:hover {
          background-color: lighten($meetup, 5%);
        }
        &:active {
          background-color: darken($meetup, 5%);
        }
      }
      &.github {
        background-color: $github;
        &:focus,
        &:hover {
          background-color: lighten($github, 5%);
        }
        &:active {
          background-color: darken($github, 5%);
        }
      }
      &.weibo {
        background-color: $weibo;
        &:focus,
        &:hover {
          background-color: lighten($weibo, 5%);
        }
        &:active {
          background-color: darken($weibo, 5%);
        }
      }
    }
    .col {
      display: block;
      float: left;
      padding: 8px;
      box-sizing: border-box;
    }
    &.cols-2 .col {
      width: 50%;
    }
    &.cols-3 .col {
      width: 33.33%;
    }
    &.cols-4 .col,
    &.cols-5 .col,
    &.cols-6 .col,
    &.cols-7 .col,
    &.cols-8 .col,
    &.cols-9 .col {
      width: 50%;
    }
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
}
